#header {
    margin-bottom: 20px;
    padding: 15px 0;
    padding-left: 20px;
    background: #ECECEC;
}
table tr td,
table tr th {
    font-family: '微软雅黑';
    font-size: 14px;
}
table tr span i:hover {
    color: #2ECC71;    
    cursor: pointer;
}
#nest span {
    font-size: 16px;
}
.ant-select-selection__placeholder {
    line-height: 22px !important;
}